.banner {
  @apply w-full p-4 relative overflow-hidden;

  // background gradient for desktop
  @screen lg {
    background: linear-gradient(to right, #e0f2fe, #fff);
    @apply flex flex-row items-center justify-between max-w-6xl mx-auto p-12 gap-8 rounded-2xl mb-3;
  }

  &__photo {
    @apply relative flex flex-col gap-2 justify-center items-center w-full h-full;
    @screen lg {
      @apply w-1/3;
    }

    &__wrapper {
      @apply max-w-32 max-h-32 overflow-hidden z-10 h-full w-full rounded-full lg:max-w-60 lg:max-h-60;

      &__img {
        @apply w-32 h-auto z-10 transition-transform duration-500 hover:scale-105 hover:shadow-xl lg:w-60;
      }
    }

    &__bg {
      @apply z-0 w-52 h-auto absolute -top-2 left-1/2 transform -translate-x-1/2 lg:w-80;
    }
  }

  &__info {
    @apply flex flex-col items-center text-center z-10 relative mt-4;
    &__name {
      @apply text-f-16 font-semibold leading-6 w-fit rounded-xl bg-[#0369a1] text-white #{!important};
      @screen lg {
        @apply text-f-20 px-4 py-1;
      }
    }
    &__job {
      @apply text-f-14 font-semibold leading-5 text-gray-600 lg:text-f-18;
    }
  }

  &__greeting {
    @apply flex flex-col gap-2 items-center mt-2 text-center;
    @screen lg {
      @apply items-start text-left max-w-xl;
    }

    &__title {
      @apply text-f-16 font-semibold leading-5 lg:text-f-24;
    }
    &__desc {
      @apply text-f-14 font-semibold leading-4 text-gray-500 lg:text-f-18 lg:leading-7;
    }
    &__cta {
      @apply mt-2 bg-[#0369a1] rounded-2xl flex gap-1 text-f-16 text-white font-normal leading-6 
      active:bg-cyan-800 transition-all duration-300 hover:gap-2 hover:bg-[#0284c7] #{!important};
    }
  }
}

// floating background element
@screen lg {
    .banner::before {
      content: '';
      @apply absolute rounded-full bg-cyan-100 opacity-40;
      width: 300px;
      height: 300px;
      top: -100px;
      right: -100px;
      animation: float 6s ease-in-out infinite;
    }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
